{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h5 class="font-italic text-center mb-5">Добавление товара</h5>
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <form action="{% url 'main:add_goods' %}" method="post" enctype="multipart/form-data" class="js-good-create-form">
                {% csrf_token %}
                <div class="modal-body">
                     {% include 'main/include/form.html' %}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary px-3 mt-3 mb-5" value="добавить товар">
                    <button class="btn btn-outline-primary ml-5 mt-3 mb-5" data-dismiss="modal">закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}